Repository mattdornfeld/pulp_fiction: changes, and which CircleCI parameters are due for each by the changed paths.
All: should_build_bazel_ci_image, should_apply_terraform_changes, should_build_and_test_backend_service, should_build_and_test_ios_app

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  check_updated_files:
    jobs:
      - path-filtering/filter:
          name: check_updated_files
          mapping: |
            docker_images/bazel_ci/BUILD should_build_bazel_ci_image true
            secrets/pulp_fiction_backend_service_database_credentials.json.encrypted should_apply_terraform_changes true
            terraform/.* should_apply_terraform_changes true
            docker_images/pulp_fiction_backend_service/BUILD should_build_and_test_backend_service true
            pulp_fiction_backend_service/BUILD should_build_and_test_backend_service true
            pulp_fiction_backend_service/src/.* should_build_and_test_backend_service true
            secrets/pulp_fiction_backend_service_database_credentials.json.encrypted should_build_and_test_backend_service true
            bazel/pulp_fiction_swift_dependencies.bzl should_build_and_test_ios_app true
            pulp_fiction_ios_app/PulpFictionTests/BUILD should_build_and_test_ios_app true
            pulp_fiction_ios_app/PulpFictionApp/.* should_build_and_test_ios_app true
            pulp_fiction_ios_app/PulpFictionTests/.* should_build_and_test_ios_app true
          base-revision: master
          config-path: .circleci/continue_config.yml

Add device build settings to bazelrc
  .bazelrc
Due: none

Remove use of rules_spm since this does not support deploying to device
  .bazelrc
  bazel/pulp_fiction_swift_dependencies.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/Makefile
  pulp_fiction_ios_app/PulpFictionApp/Info.plist
Due: should_build_and_test_ios_app

Fix bug where unit tests are failing due to TCA store not being accessed on main thread.
  WORKSPACE
  bazel/pulp_fiction_swift_dependencies.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionAppSource/Configs/ApplicationConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostViewFeed.swift
  pulp_fiction_ios_app/PulpFictionTests/Messengers/PostViewFeedTest.swift
Due: should_build_and_test_ios_app

Filter out non manual steps from CI
  .circleci/continue_config.yml
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/Makefile
Due: none

Deploy iOS app to device (#32)
  .bazelrc
  .circleci/continue_config.yml
  .gitignore
  WORKSPACE
  bazel/pulp_fiction_swift_dependencies.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/Makefile
  pulp_fiction_ios_app/PulpFictionApp/Info.plist
  pulp_fiction_ios_app/PulpFictionAppSource/Configs/ApplicationConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostViewFeed.swift
  pulp_fiction_ios_app/PulpFictionTests/Messengers/PostViewFeedTest.swift
Due: should_build_and_test_ios_app

Fixed test configs
  pulp_fiction_ios_app/PulpFictionTests/Messengers/PostViewFeedTest.swift
Due: should_build_and_test_ios_app

Fixed bug where EditProfileView is not updating on field change
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditProfileView.swift
Due: none

Implement camera image selector
  pulp_fiction_ios_app/PulpFictionApp/Info.plist
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImageSelector/CameraView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImageSelector/ImageSelectorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImageSelector/PhotoAlbumView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/AvatarSelectorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditProfileView.swift
Due: should_build_and_test_ios_app

Rewrite getFeed endpoint as a bidirectional stream
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostStream.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostViewFeed.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Atomics.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Queue.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/CommentsPageScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/LoggedInUserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ScrollViewParent.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionsScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserProfileScrollView.swift
Due: none

Refactored ContentScrollView so that infinite scrolling is possible
  pulp_fiction_ios_app/PulpFictionAppPreview/Configs/PreviewAppConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/Extensions/PulpFictionAppExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/PulpFictionAppPreview.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Configs/PostFeedConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostStream.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Queue.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
Due: none

Debugged refresh scroll view functionality
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostStream.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/PulpFictionUtils.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Queue.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
Due: none

Refactor data models to be classes instead of structs so they are passed by reference
  pulp_fiction_ios_app/PulpFictionAppSource/Models/CommentPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ContentData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ImagePostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/LoggedInUserPostInteractions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/LoginSession.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostIdentifier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UserPostData.swift
Due: none

Format
  pulp_fiction_ios_app/PulpFictionAppSource/Models/CommentPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ContentData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ImagePostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/LoggedInUserPostInteractions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostIdentifier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UserPostData.swift
Due: none

Fix ios unit tests
  pulp_fiction_ios_app/PulpFictionAppPreview/Configs/PreviewAppConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/Extensions/PulpFictionAppExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Configs/ApplicationConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostStream.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/FakeImageDataSupplier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionsScrollView.swift
  pulp_fiction_ios_app/PulpFictionTests/Messengers/PostStreamTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Messengers/PostViewFeedTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Utils/QueueTest.swift
Due: should_build_and_test_ios_app

Wrote functionality for communicatin with backend server to update post like status
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/ViewGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/BottomNavigationBarView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CaptionCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/PostLikeOnSwipeView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/UserPostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PulpFictionAppViewBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/CommentsPageScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/LoggedInUserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ScrollViewParent.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionsScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/TopNavigationBar/LoggedInUserProfileTopNavigationBar.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/UserProfileView.swift
Due: none

Replace use of IO with async Either in BackendMessenger
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/BowExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/PostLikeOnSwipeView.swift
Due: none

Wrote mock method for UpdatePost
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
Due: none

Stop post stream when view dissappears
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostStream.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
Due: none

Began writing tests for PostLikeOnSwipeView
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/BowExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Queue.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/SwipableContentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/PostLikeOnSwipeView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionView.swift
  pulp_fiction_ios_app/PulpFictionTests/Utils/QueueTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/PostLikeOnSwipeViewTest.swift
Due: should_build_and_test_ios_app

Wrote more tests for PostLikeOnSwipeView
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/PostLikeOnSwipeViewTest.swift
Due: should_build_and_test_ios_app

Wrote NotificationBanner for displaying notification views
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/CoreExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/ViewGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/BottomNavigationBarView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/NotificationBanner.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/PostLikeOnSwipeView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/UserPostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/CommentsPageScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/LoggedInUserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ScrollViewParent.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionsScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/UserProfileView.swift
  pulp_fiction_ios_app/PulpFictionTests/Types.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/NotificationBannerTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/PostLikeOnSwipeViewTest.swift
Due: should_build_and_test_ios_app

Added notification for successful creation of post
  pulp_fiction_ios_app/PulpFictionAppSource/Types.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EmptyNavigationLinkView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImageSelector/ImageSelectorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/NotificationBanner.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CaptionCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/LoggedInUserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/TopNavigationBar/LoggedInUserProfileTopNavigationBar.swift
  pulp_fiction_ios_app/PulpFictionTests/TestTypes.swift
Due: should_build_and_test_ios_app

Write functionality for deleting post
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Types.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/Caption.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/LabelWithDropDownNavigationMenu.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/MenuButton.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/DeletePostMenu.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ExtraOptionsDropDownMenuView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/AvatarSelectorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/TopNavigationBar/TextCreatorTopNavigationBar.swift
Due: none

Wrote test for DeletePostMenu
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/DeletePostMenu.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ExtraOptionsDropDownMenuView.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/DeletePostMenuTest.swift
Due: should_build_and_test_ios_app

Commit first part of other feed support before merging in master
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
Due: should_build_and_test_backend_service

add support for bi-directional stream
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
Due: should_build_and_test_backend_service

Set size of delete post sheet
  bazel/repositories.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ExtraOptionsDropDownMenuView.swift
Due: none

Introduce functionality so that posts are removed locally when removed from feed
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/ViewGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/DeletePostMenu.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ExtraOptionsDropDownMenuView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/CommentsPageScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ScrollViewParent.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionsScrollView.swift
Due: none

Wrote tests for report post functionality
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/EquatableClosure.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ExtraOptionsDropDownMenuView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ReportPost.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/CommentsPageScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/LoggedInUserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ScrollViewParent.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionsScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/DeletePostMenuTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/PostLikeOnSwipeViewTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/ReportPostTest.swift
Due: should_build_and_test_ios_app

Add functionality for submitting comments to backend when comments are created
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostMetadata.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EditTextView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CaptionCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CommentCreator.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CommentCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditProfileView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/CommentsPageScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
Due: none

Wrote tests for CommentCreator
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EditTextView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/NotificationBanner.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CommentCreator.swift
  pulp_fiction_ios_app/PulpFictionTests/TestUtils/Extensions.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostCreator/CommentCreatorTest.swift
Due: should_build_and_test_ios_app

Wrote tests for EditText
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EditText.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CaptionCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CommentCreator.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditProfileView.swift
  pulp_fiction_ios_app/PulpFictionTests/ViewComponents/EditTextTest.swift
Due: should_build_and_test_ios_app

Wrote tests and backend for following/unfollowing users
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/UpdatePostBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/UpdateUserBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CommentCreator.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/DeletePostMenu.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/PostLikeOnSwipeView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ReportPost.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionView.swift
Due: none

Wrote tests for CommentScrollView
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/CoreExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Queue.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CommentCreator.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostCreator/CommentCreatorTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/DeletePostMenuTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/PostLikeOnSwipeViewTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/ReportPostTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/ScrollViews/ContentScrollViewTest.swift
Due: should_build_and_test_ios_app

Wrote backend and tests for create post
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/CreatePostBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/UpdateUserBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EditText.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CaptionCreator.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CaptionCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionTests/ViewComponents/EditTextTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostCreator/CaptionCreatorTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostCreator/CommentCreatorTest.swift
Due: should_build_and_test_ios_app

Refactored create comment to use CreatePost endpoint
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/CreatePostBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/UpdatePostBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CommentCreator.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostCreator/CommentCreatorTest.swift
Due: should_build_and_test_ios_app

Fix bug where not all posts are loaded on refresh
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
Due: none

Tests and endpoint metrics
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
Due: should_build_and_test_backend_service

Wrote tests and backend for update user avatar
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/UpdateUserBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Types.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/EquatableHelpers.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/AvatarSelectorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditProfile.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/TopNavigationBar/LoggedInUserProfileTopNavigationBar.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/Profile/EditProfileTest.swift
Due: should_build_and_test_ios_app
