Repository mattdornfeld/pulp_fiction: changes, and which CircleCI parameters are due for each by the changed paths.
All: should_build_bazel_ci_image, should_apply_terraform_changes, should_build_and_test_backend_service, should_build_and_test_ios_app

Add UserMetadata to LoginSession so it does not need to be queried every time PostData is constructed.
  WORKSPACE
  protos/pulp_fiction.proto
  pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/LoginSessions.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Posts.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

Fix pulp_fiction_ios_app build
  pulp_fiction_ios_app/Makefile
  pulp_fiction_ios_app/PulpFictionAppSource/ExternalMessengers.swift
  pulp_fiction_ios_app/PulpFictionAppSource/PulpFictionAppViewBuilder.swift
  pulp_fiction_ios_app/README.md
Due: none

Move maven dependency to standalone file and trigger builds when proto API changes
  .circleci/config.yml
  WORKSPACE
  bazel/pulp_fiction_maven_dependencies.bzl
Due: none

updateUser tests, still haven't implemented updatePassword
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
Due: should_build_and_test_backend_service

added updatePassword tests
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

Fix tests, PR ready
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
Due: should_build_and_test_backend_service

(PR comment) remove transaction from flushChanges
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
Due: should_build_and_test_backend_service

(PR Comments) Add comment to UpdateUser test to explain only asserting the last response
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

UpdateUser Endpoint (#25)
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/DatabaseMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/EndpointMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
Due: should_build_and_test_backend_service

Add InteractionAggregates to ImagePost proto which counts total number of likes, dislikes, and child comments
  protos/pulp_fiction.proto
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/ImagePostData.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/PostInteractionAggregates.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/PostLikes.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/resources/db/migrations/V2__Add_post_interaction_tables.sql
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/MigrateDatabaseTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/databasemodels/TestDatabaseModelGenerator.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
Due: should_build_and_test_backend_service

Wrote mock for GetFeed endpoint
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionApp/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/Configs/PreviewAppConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/PulpFictionAppPreview.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/PostDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/ProtoDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/PulpFictionTestClientBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/ProtoExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/ExternalMessengers.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/PulpFictionAppViewBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/GrpcUtils.swift
Due: should_build_and_test_ios_app

Add likes, comments, avatar, age, and menu to ImagePostView
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionAppPreview/TestUtils/TestDataGenerator.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/CoreExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/ProtoExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/SwiftUIExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/CircularImage.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/Symbol.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/SymbolWithText.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionTests/Extensions/CoreExtensionsTest.swift
Due: should_build_and_test_ios_app

ScrollingContentView now reads posts from backend API and retrieves data from PostDataMessenger and constructs infinite feed
  pulp_fiction_ios_app/PulpFictionApp/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/Configs/PreviewAppConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/PulpFictionAppPreview.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/FakeImageDataSupplier.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/PostDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/ProtoDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/PulpFictionTestClientBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/ViewPreviews/ImagePostViewPreview.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Configs/PostFeedConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/BowExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/CoreExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/ProtoExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/SwiftUIExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/ExternalMessengers.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeed.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/CommentPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ContentData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ImagePostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostIdentifier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostInteractionAggregates.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostMetadata.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UnrecognizedPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UserData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UserPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/PulpFictionAppViewBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Queue.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollingContentView.swift
  pulp_fiction_ios_app/PulpFictionTests/Messengers/PostDataCacheTests.swift
  pulp_fiction_ios_app/PulpFictionTests/Utils/QueueTest.swift
Due: should_build_and_test_ios_app

Wrote PostFeed iterator for querying posts from the stream returned by the GetFeed endpoint
  bazel/pulp_fiction_swift_dependencies.bzl
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedBuilder.swift
Due: should_build_and_test_ios_app

Refactored protos so post data is keyed on PostIdentfier
  protos/pulp_fiction.proto
Due: none

Reorg directories
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/ExternalMessengers.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollingContentView.swift
Due: none

Refactored backend API so that PostData models are keyed on postId + updatedAt. This key gets joined into PostUpdateIdentifier in the proto API.
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/CommentData.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/ImagePostData.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/PostIds.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/PostInteractionAggregates.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/PostUpdates.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Posts.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/UserPostData.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/types/PostData.kt
  pulp_fiction_backend_service/src/main/resources/db/migrations/V1__Add_tables.sql
  pulp_fiction_backend_service/src/main/resources/db/migrations/V2__Add_post_interaction_tables.sql
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/MigrateDatabaseTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/S3MessengerTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/databasemodels/TestDatabaseModelGenerator.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
Due: should_build_and_test_backend_service

Fix after rebase
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
Due: should_build_and_test_backend_service

Construct ImagePostView in background thread in PostViewFeed
  pulp_fiction_ios_app/PulpFictionAppPreview/PulpFictionAppPreview.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/FakeImageDataSupplier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/BowExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/ExternalMessengers.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeed.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostViewFeed.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ImagePostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostIdentifier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostMetadata.swift
  pulp_fiction_ios_app/PulpFictionAppSource/PulpFictionAppViewBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollingContentView.swift
Due: none

Wrote PostScrollView for rendering PostView objects
  bazel/repositories.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/Configs/build_and_test.tulsigen
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/project.tulsiconf
  pulp_fiction_ios_app/PulpFictionApp/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/Configs/PreviewAppConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/Extensions/PulpFictionAppExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/PulpFictionAppPreview.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/PulpFictionTestClientBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Configs/PostFeedConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/BowExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostViewFeed.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Atomics.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Queue.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PulpFictionAppViewBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollingContentView.swift
  pulp_fiction_ios_app/PulpFictionTests/Messengers/PostViewFeedTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Utils/QueueTest.swift
Due: should_build_and_test_ios_app

Add functionality for swiping up on the scroll feed to refresh feed.
  pulp_fiction_ios_app/PulpFictionAppPreview/Configs/PreviewAppConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/PulpFictionTestClientBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
Due: none

Wrote CommentView functionality
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/PulpFictionTestClientBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/CommentPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostView.swift
Due: none

Wrote CommentScrollView functionality
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/ProtoDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/PulpFictionTestClientBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/DateExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostViewFeed.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/CommentPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PulpFictionAppViewBuilder.swift
  pulp_fiction_ios_app/PulpFictionTests/Extensions/DataExtensionsTests.swift
  pulp_fiction_ios_app/PulpFictionTests/Messengers/PostViewFeedTest.swift
Due: should_build_and_test_ios_app

initial commit WiP
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/DatabaseMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/EndpointMetrics.kt
Due: should_build_and_test_backend_service

Replace PulpFictionTestClientBuilder with PulpFictionTestClientWithFakeData that generates fake data upon each request instead of enqueueing at start of test time
  pulp_fiction_ios_app/PulpFictionAppPreview/Extensions/PulpFictionAppExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestDataGenerators/PulpFictionTestClientBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/FakeImageDataSupplier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PostDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/ProtoDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/Caption.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
Due: none

Moved drag up functionality to OnDragUp view component to remove error caused by updating GestureState outside of View
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/OnDragUp.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
Due: none

Wrote tests for CommentViewFeed
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/ProtoDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionTests/Messengers/PostViewFeedTest.swift
Due: should_build_and_test_ios_app

Add link so CommentScrollView can be navigated to from ImagePostView
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/SwiftUIExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
Due: none

Add ImagePostView to beginning of CommentScrollView
  bazel/pulp_fiction_swift_dependencies.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/BowExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/SwiftUIExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/ViewGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/LazyView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/ViewExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PulpFictionAppViewBuilder.swift
Due: should_build_and_test_ios_app

Introduced functionality to make posts and commentis likable via swiping
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/SwipablePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
Due: none

Add functionality for keep tracking of num likes in post state and updating that via swiping
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Models/CommentPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ImagePostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/LoggedInUserPostInteractions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/SwipablePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/SymbolWithText.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostSwipeView.swift
Due: none

Add post interaction info to post protos
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/CommentData.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/ImagePostData.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/PostLikes.kt
  pulp_fiction_backend_service/src/main/resources/db/migrations/V2__Add_post_interaction_tables.sql
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

Pin rules_xcodeproj dependency
  bazel/pulp_fiction_swift_dependencies.bzl
  bazel/repositories.bzl
  pulp_fiction_ios_app/BUILD
Due: should_build_and_test_ios_app

Write UserProfileView
  bazel/pulp_fiction_swift_dependencies.bzl
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppPreview/Extensions/PulpFictionAppExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/PulpFictionAppPreview.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/CommentPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ImagePostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UnrecognizedPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UserPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PostDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/ProtoDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/ViewGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/Caption.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/UserProfileView.swift
Due: should_build_and_test_ios_app

Add user bio field to backend service
  protos/pulp_fiction.proto
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/UserPostData.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/main/resources/db/migrations/V1__Add_tables.sql
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/databasemodels/TestDatabaseModelGenerator.kt
Due: should_build_and_test_backend_service

implementation returning single 2000 post query as flow
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
Due: should_build_and_test_backend_service

Wrote NavigationBarView for navigating between different main views of the app
  pulp_fiction_ios_app/PulpFictionAppPreview/Extensions/PulpFictionAppExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/CoreExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/ExternalMessengers.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/PostFeedMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/LoginSession.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UserPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PostDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/CodableUIImage.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/PulpFictionUtils.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/Symbol.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/NavigationBarView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PulpFictionAppViewBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/UserProfileView.swift
Due: none

Path conditions:
  should_build_bazel_ci_image: any of: docker_images/bazel_ci/BUILD
  should_apply_terraform_changes: (any of: secrets/pulp_fiction_backend_service_database_credentials.json.encrypted) or (any of: terraform/.*)
  should_build_and_test_backend_service: (((any of: docker_images/pulp_fiction_backend_service/BUILD) or (any of: pulp_fiction_backend_service/BUILD)) or (any of: pulp_fiction_backend_service/src/.*)) or (any of: secrets/pulp_fiction_backend_service_database_credentials.json.encrypted)
  should_build_and_test_ios_app: (((any of: bazel/pulp_fiction_swift_dependencies.bzl) or (any of: pulp_fiction_ios_app/PulpFictionTests/BUILD)) or (any of: pulp_fiction_ios_app/PulpFictionApp/.*)) or (any of: pulp_fiction_ios_app/PulpFictionTests/.*)
