Repository mattdornfeld/pulp_fiction: changes, and which CircleCI parameters are due for each by the changed paths.
All: should_build_bazel_ci_image, should_apply_terraform_changes, should_build_and_test_backend_service, should_build_and_test_ios_app

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  check_updated_files:
    jobs:
      - path-filtering/filter:
          name: check_updated_files
          mapping: |
            docker_images/bazel_ci/BUILD should_build_bazel_ci_image true
            secrets/pulp_fiction_backend_service_database_credentials.json.encrypted should_apply_terraform_changes true
            terraform/.* should_apply_terraform_changes true
            docker_images/pulp_fiction_backend_service/BUILD should_build_and_test_backend_service true
            pulp_fiction_backend_service/BUILD should_build_and_test_backend_service true
            pulp_fiction_backend_service/src/.* should_build_and_test_backend_service true
            secrets/pulp_fiction_backend_service_database_credentials.json.encrypted should_build_and_test_backend_service true
            bazel/pulp_fiction_swift_dependencies.bzl should_build_and_test_ios_app true
            pulp_fiction_ios_app/PulpFictionTests/BUILD should_build_and_test_ios_app true
            pulp_fiction_ios_app/PulpFictionApp/.* should_build_and_test_ios_app true
            pulp_fiction_ios_app/PulpFictionTests/.* should_build_and_test_ios_app true
          base-revision: master
          config-path: .circleci/continue_config.yml

Wrote tests and backend for updateDisplayName and updateBio
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/UpdateUserBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditProfile.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/Profile/EditProfileTest.swift
Due: should_build_and_test_ios_app

Finished writing tests and backend for update user data view
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/UpdateUserBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ModelTypes.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/SensitiveUserMetadata.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UserPostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditProfile.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/Profile/EditProfileTest.swift
Due: should_build_and_test_ios_app

Fix updateUser backend endpoint
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/utils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Extensions.kt
Due: should_build_and_test_backend_service

Comment out flakey tests
  pulp_fiction_ios_app/PulpFictionTests/Views/ScrollViews/ContentScrollViewTest.swift
Due: should_build_and_test_ios_app

Working tests
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
Due: should_build_and_test_backend_service

Fix the UUID you're passing in to the feed generation
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
Due: should_build_and_test_backend_service

Add non-Image feeds into DB Messenger
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
Due: should_build_and_test_backend_service

Add commentFeed test
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
Due: should_build_and_test_backend_service

Get Non Image Post Feeds (#36)
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
Due: should_build_and_test_backend_service

use collectIndexed
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
Due: should_build_and_test_backend_service

PR Comments
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/ServiceConfigs.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/resources/db/migrations/V3__Add_index_on_follower_id.sql
Due: should_build_and_test_backend_service

Add endpoint metrics, will clean up code shortly
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/EndpointMetrics.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

create follower row from request
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Followers.kt
Due: should_build_and_test_backend_service

PR Comments
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/ServiceConfigs.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

metrics tests for CommentFeed
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

Getting started with follow endpoint
  protos/pulp_fiction.proto
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Followers.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/DatabaseMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/EndpointMetrics.kt
Due: should_build_and_test_backend_service

Implement GetFeed Endpoint (#35)
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/ServiceConfigs.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/DatabaseMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/EndpointMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/resources/db/migrations/V3__Add_index_on_follower_id.sql
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
Due: should_build_and_test_backend_service

Add error handling for invalid email, phone number, and password
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Login.swift
Due: none

Add logout option which navigates back to login screen
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/UpdateLoginSessionBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/PulpFictionProtocol.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/BottomNavigationBarView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Login.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CaptionCreator.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/CommentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ExtraOptionsDropDownMenuView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/PostLikeOnSwipeView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/UserPostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditPrivateProfileData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditProfile.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/EditPublicProfileData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/GeneralProfileOptions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/CommentsPageScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ContentScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/LoggedInUserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/ScrollViewParent.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserConnectionsScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/UserProfileScrollView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/TopNavigationBar/LoggedInUserProfileTopNavigationBar.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/UserProfileView.swift
Due: none

Wrote tests for LoginReducer
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/CreateLogginSessionBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/ProtoDataGenerators.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EmptyNavigationLinkView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/PulpFictionTextField.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Login.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/NotificationBanner.swift
  pulp_fiction_ios_app/PulpFictionTests/Login/LoginTest.swift
  pulp_fiction_ios_app/PulpFictionTests/TestUtils/Extensions.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostCreator/CaptionCreatorTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/DeletePostMenuTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/PostViews/PostLikeOnSwipeViewTest.swift
  pulp_fiction_ios_app/PulpFictionTests/Views/Profile/EditProfileTest.swift
Due: should_build_and_test_ios_app

Relaxed swipable content threshold
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/Queue.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/SwipableContentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostViews/PostLikeOnSwipeView.swift
Due: none

Began writing login screen
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/TCAExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/PulpFictionTextField.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Login.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PulpFictionAppViewBuilder.swift
Due: none

Implement CreateAcccount view
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/CoreExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/CreateUserBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/PulpFictionTextField.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/SymbolWithDropDownMenuView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/CreateAccount.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Landing.swift
Due: none

Wrote logic to navigate to feed from login screen
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/CreateLogginSessionBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EmptyNavigationLinkView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/TextView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/BottomNavigationBarView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Login.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CaptionCreator.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PulpFictionAppViewBuilder.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/ScrollViews/PostFeedScrollView.swift
Due: none

Wrote landing page view
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/PulpFictionButton.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/PulpFictionNavigationButton.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Landing.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Login.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/GeneralProfileOptions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PulpFictionAppViewBuilder.swift
Due: none

Change name of Login endpoint to CreateLoginSession
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionAppSource/Models/LoginSession.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
Due: none

Implement phone number input functionality for CreateAccountView
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionAppSource/Constants/Constants.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Constants/PulpFictionColors.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/CoreExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/PhoneNumberField.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/PulpFictionTextField.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/CreateAccount.swift
Due: none

Navigate to login view on successful user creation
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/CreateUserBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/TestDataGenerators/PulpFictionTestClientWithFakeData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EmptyNavigationLinkView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/CreateAccount.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Login.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/PostCreator/CaptionCreator.swift
Due: none

Began writing CodeVerifier view
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/CodeVerifier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/PulpFictionTextField.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/CreateAccount.swift
Due: none

Add backend integration for CodeVerifier
  pulp_fiction_ios_app/PulpFictionAppSource/Messengers/BackendMessengers/UpdateUserBackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/CodeVerifier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/CreateAccount.swift
Due: none

Added back button functionality to login and account creation screens
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/DefaultTopNavigationBar.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EmptyNavigationLinkView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Login.swift
Due: none

Added top navigation bar to account creation and login screens
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/CodeVerifier.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/CreateAccount.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/Login.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Profile/GeneralProfileOptions.swift
Due: none

Remove debug navigation line
  pulp_fiction_ios_app/PulpFictionAppSource/Views/Login/CreateAccount.swift
Due: none

Fix imports in backend project
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/LoginSessions.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Posts.kt
Due: should_build_and_test_backend_service

Fix backend build
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Emails.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/LoginSessions.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/PhoneNumbers.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/resources/db/migrations/V1__Add_tables.sql
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/databasemodels/TestDatabaseModelGenerator.kt
Due: should_build_and_test_backend_service

MigrateDatabaseTests passing
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Emails.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/PhoneNumbers.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/main/resources/db/migrations/V1__Add_tables.sql
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/MigrateDatabaseTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/databasemodels/TestDatabaseModelGenerator.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
Due: should_build_and_test_backend_service

Fixed backend tests
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service
