Repository mattdornfeld/pulp_fiction: changes, and which CircleCI parameters are due for each by the changed paths.
All: should_build_bazel_ci_image, should_apply_terraform_changes, should_build_and_test_backend_service

Add HealthCheckService to pulp_fiction_backend_service
  protos/BUILD
  protos/health.proto
  pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/Makefile
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/HealthCheckService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendServer.kt
Due: should_build_and_test_backend_service

Point load balancer to correct healthcheck path
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_alb.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_security_groups.tf
Due: should_apply_terraform_changes

Update ECS service on merge to master
  .circleci/continue_config.yml
  docker_images/bazel_ci/BUILD
  sbin/BUILD
  sbin/update_ecs_service
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
Due: should_build_bazel_ci_image, should_apply_terraform_changes

Run terraform format
  terraform/modules/pulp_fiction_aws_account/networking.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_alb.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_aurora.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
Due: should_apply_terraform_changes

Fix Build Image and Update Service command
  .circleci/continue_config.yml
  docker_images/BUILD
  docker_images/pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/Makefile
  sbin/update_ecs_service
Due: should_build_and_test_backend_service

Setup load balancer and setup automatic deploys of backend service on merge to master (#17)
  .circleci/continue_config.yml
  docker_images/BUILD
  docker_images/bazel_ci/BUILD
  docker_images/pulp_fiction_backend_service/BUILD
  protos/BUILD
  protos/health.proto
  pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/Makefile
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/HealthCheckService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendServer.kt
  sbin/BUILD
  sbin/update_ecs_service
  terraform/modules/pulp_fiction_aws_account/networking.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_alb.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_aurora.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_domain.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_security_groups.tf
Due: should_build_bazel_ci_image, should_apply_terraform_changes, should_build_and_test_backend_service

Update gitignore so only .tulsiconf-user file is ignored
  .gitignore
Due: none

Moved xcodeproj generation into BUILD file
  bazel/repositories.bzl
  pulp_fiction_ios_app/Makefile
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/Configs/build_and_test.tulsigen
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/project.tulsiconf
  pulp_fiction_ios_app/README.md
Due: none

Upgraded swift-composable-architecture dependency to fix build
  WORKSPACE
Due: none

Moved Tulsi xcodeproj generation into Bazel BUILD file (#19)
  .gitignore
  WORKSPACE
  bazel/repositories.bzl
  pulp_fiction_ios_app/Makefile
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/Configs/build_and_test.tulsigen
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/project.tulsiconf
  pulp_fiction_ios_app/README.md
Due: none

Create pull_request_template.md
  pull_request_template.md
Due: none

Add Pull Request Template (#21)
  pull_request_template.md
Due: none

Move Swift dependencies to own file and add Bow as a dependency
  .circleci/config.yml
  WORKSPACE
  bazel/pulp_fiction_swift_dependencies.bzl
Due: none

Update Bazel rules to use latest version of apple rules
  WORKSPACE
  bazel/pulp_fiction_swift_dependencies.bzl
  bazel/repositories.bzl
Due: none

Add generated grpc code to app library
  protos/BUILD
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/Makefile
Due: none

Begin writing code to pass in grpc client as a dependency to app
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/Configs/build_and_test.tulsigen
  pulp_fiction_ios_app/PulpFictionApp/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionApp/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionApp/Types/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/GrpcUtils.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/PulpFictionUtils.swift
Due: none

Fix build
  bazel/repositories.bzl
Due: none

Introduce iOS app grpc client (#22)
  .circleci/config.yml
  WORKSPACE
  bazel/pulp_fiction_swift_dependencies.bzl
  bazel/repositories.bzl
  protos/BUILD
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/Makefile
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/Configs/build_and_test.tulsigen
  pulp_fiction_ios_app/PulpFictionApp/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionApp/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionApp/Types/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/GrpcUtils.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/PulpFictionUtils.swift
Due: none

Add Cache and Bow dependencies
  bazel/pulp_fiction_swift_dependencies.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/Configs/build_and_test.tulsigen
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/project.tulsiconf
Due: none

Add data models that will store post data in the cache
  pulp_fiction_ios_app/PulpFictionApp/Models/PostData.swift
Due: none

Add error classes to describe failure modes
  pulp_fiction_ios_app/PulpFictionApp/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/Theme.swift
Due: none

Wrote class for caching post data
  pulp_fiction_ios_app/PulpFictionApp/Configs/CacheConfigs.swift
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionTests/PostDataCacheTests.swift
  pulp_fiction_ios_app/PulpFictionTests/TestDataGenerator.swift
Due: none

Wrote Messenger classes for connecting to external services
  pulp_fiction_ios_app/PulpFictionApp/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/ImageWithCaption.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionApp/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionApp/ScrollingContentView.swift
  pulp_fiction_ios_app/PulpFictionApp/Types/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/GrpcUtils.swift
Due: none

Migrate to using PostDataCache and delete LocalImageStore
  bazel/pulp_fiction_swift_dependencies.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/ImageWithCaption.swift
  pulp_fiction_ios_app/PulpFictionApp/LocalImageStore.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionApp/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionApp/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionApp/ScrollingContentView.swift
  pulp_fiction_ios_app/PulpFictionTests/LocalImageStoreTests.swift
  pulp_fiction_ios_app/PulpFictionTests/PostDataCacheTests.swift
Due: none

Handle errors when UUIDs are parsed
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionTests/PostDataCacheTests.swift
  pulp_fiction_ios_app/PulpFictionTests/TestDataGenerator.swift
Due: none

Refactored all errors to inherit from PulpFictionError
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/GrpcUtils.swift
Due: none

Wrote preview for ImagePostView
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionApp/ImageWithCaption.swift
  pulp_fiction_ios_app/PulpFictionApp/ScrollingContentView.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/TestDataGenerator.swift
  pulp_fiction_ios_app/PulpFictionApp/ViewComponents/EitherView.swift
  pulp_fiction_ios_app/PulpFictionTests/PostDataCacheTests.swift
Due: none

fmt
  pulp_fiction_ios_app/PulpFictionApp/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionApp/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/ScrollingContentView.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/GrpcUtils.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/TestDataGenerator.swift
  pulp_fiction_ios_app/PulpFictionApp/ViewComponents/EitherView.swift
  pulp_fiction_ios_app/PulpFictionTests/PostDataCacheTests.swift
Due: none

Post data cache (#23)
  bazel/pulp_fiction_swift_dependencies.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/Configs/build_and_test.tulsigen
  pulp_fiction_ios_app/PulpFictionApp.tulsiproj/project.tulsiconf
  pulp_fiction_ios_app/PulpFictionApp/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/Configs/CacheConfigs.swift
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionApp/ImageWithCaption.swift
  pulp_fiction_ios_app/PulpFictionApp/LocalImageStore.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/Theme.swift
  pulp_fiction_ios_app/PulpFictionApp/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionApp/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionApp/ScrollingContentView.swift
  pulp_fiction_ios_app/PulpFictionApp/Types/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/GrpcUtils.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/TestDataGenerator.swift
  pulp_fiction_ios_app/PulpFictionApp/ViewComponents/EitherView.swift
  pulp_fiction_ios_app/PulpFictionTests/LocalImageStoreTests.swift
  pulp_fiction_ios_app/PulpFictionTests/PostDataCacheTests.swift
Due: none

Initial implementation for UpdateUser, no tests
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/DatabaseMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/EndpointMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
Due: should_build_and_test_backend_service

Migrate from tuli to rules_xcodeproj for building xcdoeproj files
  .bazelignore
  .bazelversion
  WORKSPACE
  bazel/repositories.bzl
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/Makefile
  pulp_fiction_ios_app/README.md
Due: none

add in new proto generators
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/TestProtoModelGenerator.kt
Due: should_build_and_test_backend_service

Upgrade to XCode 14 and introduce ImagePostView
  .circleci/continue_config.yml
  protos/pulp_fiction.proto
  pulp_fiction_ios_app/PulpFictionApp/Assets.xcassets/AccentColor.colorset/Contents.json
  pulp_fiction_ios_app/PulpFictionApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  pulp_fiction_ios_app/PulpFictionApp/Assets.xcassets/Contents.json
  pulp_fiction_ios_app/PulpFictionApp/Assets.xcassets/Example.imageset/Contents.json
  pulp_fiction_ios_app/PulpFictionApp/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/Configs/CacheConfigs.swift
  pulp_fiction_ios_app/PulpFictionApp/Constants.swift
  pulp_fiction_ios_app/PulpFictionApp/Extensions.swift
  pulp_fiction_ios_app/PulpFictionApp/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionApp/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionApp/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionApp/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionApp/Preview Content/Preview Assets.xcassets/Contents.json
  pulp_fiction_ios_app/PulpFictionApp/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionApp/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionApp/ScrollingContentView.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/GrpcUtils.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/PulpFictionUtils.swift
  pulp_fiction_ios_app/PulpFictionApp/Utils/TestDataGenerator.swift
  pulp_fiction_ios_app/PulpFictionApp/ViewComponents/EitherView.swift
Due: none

Introduce PulpFictionAppPreview module for running simulations with test data
  pulp_fiction_ios_app/PulpFictionAppPreview/Assets.xcassets/Contents.json
  pulp_fiction_ios_app/PulpFictionAppPreview/Assets.xcassets/TestImages.xcassets/Contents.json
  pulp_fiction_ios_app/PulpFictionAppPreview/Assets.xcassets/TestImages.xcassets/RickRoll.imageset/Contents.json
  pulp_fiction_ios_app/PulpFictionAppPreview/Assets.xcassets/TestImages.xcassets/RickRoll.imageset/Rickroll.jpeg
  pulp_fiction_ios_app/PulpFictionAppPreview/Assets.xcassets/TestImages/Contents.json
  pulp_fiction_ios_app/PulpFictionAppPreview/Assets.xcassets/TestImages/Rickroll.imageset/Contents.json
  pulp_fiction_ios_app/PulpFictionAppPreview/Assets.xcassets/TestImages/Rickroll.imageset/Rickroll.jpeg
  pulp_fiction_ios_app/PulpFictionAppPreview/Assets.xcassets/TestImages/Shadowfax.imageset/Contents.json
  pulp_fiction_ios_app/PulpFictionAppPreview/Assets.xcassets/TestImages/Shadowfax.imageset/Shadowfax.jpeg
  pulp_fiction_ios_app/PulpFictionAppPreview/PulpFictionAppPreview.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestUtils/TestDataGenerator.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/ViewPreviews/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Assets.xcassets/AccentColor.colorset/Contents.json
  pulp_fiction_ios_app/PulpFictionAppSource/Assets.xcassets/AppIcon.appiconset/Contents.json
  pulp_fiction_ios_app/PulpFictionAppSource/Assets.xcassets/Contents.json
  pulp_fiction_ios_app/PulpFictionAppSource/Assets.xcassets/Example.imageset/Contents.json
  pulp_fiction_ios_app/PulpFictionAppSource/BackendMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Configs/CacheConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Configs/ResourceConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Constants.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/BowExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/DateExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/Extensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/Errors.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/ProtoAliases.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UserData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/PostDataCache.swift
  pulp_fiction_ios_app/PulpFictionAppSource/PostDataMessenger.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Preview Content/Preview Assets.xcassets/Contents.json
  pulp_fiction_ios_app/PulpFictionAppSource/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ScrollingContentView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/GrpcUtils.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Utils/PulpFictionUtils.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/Caption.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/CircularImage.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/EitherView.swift
Due: none

Fix tests
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionTests/Extensions/DataExtensionsTests.swift
  pulp_fiction_ios_app/PulpFictionTests/PostDataCacheTests.swift
Due: none

fmt
  pulp_fiction_ios_app/BUILD
  pulp_fiction_ios_app/PulpFictionAppPreview/PulpFictionAppPreview.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/TestUtils/TestDataGenerator.swift
  pulp_fiction_ios_app/PulpFictionAppPreview/ViewPreviews/ImagePostViewPreview.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Configs/ResourceConfigs.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/BowExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/DateExtensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Extensions/Extensions.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ImagePostView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/PostData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/Models/UserData.swift
  pulp_fiction_ios_app/PulpFictionAppSource/PostCreatorView.swift
  pulp_fiction_ios_app/PulpFictionAppSource/PulpFictionApp.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/Caption.swift
  pulp_fiction_ios_app/PulpFictionAppSource/ViewComponents/CircularImage.swift
Due: none

Path conditions:
  should_build_bazel_ci_image: any of: docker_images/bazel_ci/BUILD
  should_apply_terraform_changes: any of: terraform/.*
  should_build_and_test_backend_service: ((any of: docker_images/pulp_fiction_backend_service/BUILD) or (any of: pulp_fiction_backend_service/BUILD)) or (any of: pulp_fiction_backend_service/src/.*)
