Repository mattdornfeld/pulp_fiction: changes, and which CircleCI parameters are due for each by the changed paths.
All: should_build_bazel_ci_image, should_apply_terraform_changes, should_build_and_test_backend_service

Moved secrets subproject to toplevel so it can be used by multiple subprojects
  secrets/BUILD
  secrets/pulp_fiction_backend_service_database_credentials.yml.encrypted
Due: none

Create backed database with encrypted credentials and create iam role to access kms key for decrypting
  terraform/BUILD
  terraform/modules/pulp_fiction_aws_account/kms.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_iam.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_kms.tf
  terraform/secrets/pulp_fiction_backend_service_database_credentials.yml.encrypted
Due: should_apply_terraform_changes

Add encrypted secrets to pulp_fiction_backend_service Docker image
  docker_images/pulp_fiction_backend_service/BUILD
Due: should_build_and_test_backend_service

Create pulp_fiction_backend_service database with credentials (#11)
  docker_images/pulp_fiction_backend_service/BUILD
  secrets/BUILD
  secrets/pulp_fiction_backend_service_database_credentials.yml.encrypted
  terraform/BUILD
  terraform/modules/pulp_fiction_aws_account/kms.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_iam.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_kms.tf
Due: should_apply_terraform_changes, should_build_and_test_backend_service

Add support for avatars, add tests, fix failing tests
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

PR comments
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

pattern replace / with - in cci
  .circleci/continue_config.yml
Due: none

Replace yml credentials file with json since it's easier to parse with Jackson
  docker_images/pulp_fiction_backend_service/BUILD
  secrets/BUILD
  secrets/pulp_fiction_backend_service_database_credentials.json.encrypted
  secrets/pulp_fiction_backend_service_database_credentials.yml.encrypted
Due: should_build_and_test_backend_service

Wrote SecretsDecrypter module for encrypting and decrypting secrets using KMS. This will be used to load in database credentials on startup.
  WORKSPACE
  pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/S3Messenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/AwsConfigs.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/S3Configs.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/SecretsDecrypterTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/KmsContainer.kt
  pulp_fiction_backend_service/src/test/resources/test_credentials.json
Due: should_build_and_test_backend_service

Changed name of TestContainerDependencies to S3AndPostgresContainers
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/MigrateDatabaseTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/S3MessengerTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
Due: should_build_and_test_backend_service

Run pulp_fiction_backend_service and terraform workflows on secrets changing
  .circleci/config.yml
Due: none

Switch pulp_fiction_backend_service secrets with json in Terraform subproject
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_aurora.tf
Due: should_apply_terraform_changes

Read in database secrets to pulp_fiction_backend_service on service startup
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/DatabaseConfigs.kt
Due: should_build_and_test_backend_service

Move to json file in Terraform BUILD file
  terraform/BUILD
Due: should_apply_terraform_changes

Base64 encode database credentials so they work with Terraform
  pulp_fiction_backend_service/Makefile
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/SecretsDecrypterTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/KmsContainer.kt
  secrets/pulp_fiction_backend_service_database_credentials.json.encrypted
Due: should_build_and_test_backend_service

Added credentialsProvider to KmsContainer
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/KmsContainer.kt
Due: should_build_and_test_backend_service

fix UserPost support
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
Due: should_build_and_test_backend_service

Rename PulpFictionError to PulpFictionRequestError
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/S3Messenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Posts.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/CreatePostDataMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/DatabaseMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/EndpointMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/S3Metrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/utils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/S3MessengerTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/SecretsDecrypterTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Utils.kt
Due: should_build_and_test_backend_service

Handle SecretsDecrypter errors with Effect
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/utils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/SecretsDecrypterTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Utils.kt
Due: should_build_and_test_backend_service

createDatabaseConnection now returns Effect
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendServer.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/utils/Extensions.kt
Due: should_build_and_test_backend_service

Insert DATABASE_ENDPOINT as environment variable into backend service
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/DatabaseConfigs.kt
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
Due: should_apply_terraform_changes, should_build_and_test_backend_service

Load encrypted database credentials on service startup and connect to database (#13)
  .circleci/config.yml
  WORKSPACE
  docker_images/pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/Makefile
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendServer.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/S3Messenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/AwsConfigs.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/DatabaseConfigs.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/S3Configs.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Posts.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/CreatePostDataMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/DatabaseMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/EndpointMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/S3Metrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/utils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/MigrateDatabaseTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/S3MessengerTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/SecretsDecrypterTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/KmsContainer.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Utils.kt
  pulp_fiction_backend_service/src/test/resources/test_credentials.json
  secrets/BUILD
  secrets/pulp_fiction_backend_service_database_credentials.json.encrypted
  secrets/pulp_fiction_backend_service_database_credentials.yml.encrypted
  terraform/BUILD
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_aurora.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
Due: should_apply_terraform_changes, should_build_and_test_backend_service

Add security groups to allow connection betweeen backend service and database
  terraform/modules/pulp_fiction_aws_account/networking.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_aurora.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_security_groups.tf
Due: should_apply_terraform_changes

format
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_aurora.tf
Due: should_apply_terraform_changes

Add security groups to allow connection betweeen backend service and database (#14)
  terraform/modules/pulp_fiction_aws_account/networking.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_aurora.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_security_groups.tf
Due: should_apply_terraform_changes

miss post-merge
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
Due: should_build_and_test_backend_service

PR comments
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
Due: should_build_and_test_backend_service

pr comments - 2
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
Due: should_build_and_test_backend_service

Add GetUser Endpoint (#12)
  .circleci/continue_config.yml
  protos/pulp_fiction.proto
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/databasemodels/Users.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/DatabaseMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/monitoring/metrics/metricsstore/EndpointMetrics.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
Due: should_build_and_test_backend_service

Write StructuredLogger and log serets decrypting info
  pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/StructuredLogger.kt
Due: should_build_and_test_backend_service

Upgrade rules_kotlin
  bazel/repositories.bzl
Due: none

Fix issue where formatter was failing on value classes
  pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/StructuredLogger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/ValueClasses.kt
Due: should_build_and_test_backend_service

Test full encryption/decryption path when loading database credentials on service startup
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/StructuredLogger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/DatabaseConfigs.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/ValueClasses.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/utils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/SecretsDecrypterTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/KmsContainer.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/PulpFictionKmsClient.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
Due: should_build_and_test_backend_service

Refactor error handling logic so that getResultAndThrowException is used to handle all PulpFictionErrors
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/utils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/S3MessengerTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/SecretsDecrypterTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Utils.kt
Due: should_build_and_test_backend_service

Fix after rebase
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
Due: should_build_and_test_backend_service

Write structured logger for tagging logs with resource names (#15)
  bazel/repositories.bzl
  pulp_fiction_backend_service/BUILD
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/PulpFictionBackendService.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/StructuredLogger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/DatabaseConfigs.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/Exceptions.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/types/ValueClasses.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/utils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/PulpFictionBackendServiceTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/S3MessengerTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/SecretsDecrypterTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Extensions.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/KmsContainer.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/PulpFictionKmsClient.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/Utils.kt
Due: should_build_and_test_backend_service

Update SecretsDecrypter.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
Due: should_build_and_test_backend_service

Bug fix: Remove print statement (#16)
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
Due: should_build_and_test_backend_service

Add pulp_fiction_backend_service_secrets_encryption kms key id as env var to container
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/DatabaseMessenger.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/SecretsDecrypter.kt
  pulp_fiction_backend_service/src/main/kotlin/co/firstorderlabs/pulpfiction/backendserver/configs/DatabaseConfigs.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/SecretsDecrypterTest.kt
  pulp_fiction_backend_service/src/test/kotlin/co.firstorderlabs.pulpfiction/backendserver/testutils/S3AndPostgresContainers.kt
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
Due: should_apply_terraform_changes, should_build_and_test_backend_service

Setup domain name for backend service and put load balancer in front of backend service
  terraform/modules/pulp_fiction_aws_account/networking.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_alb.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_aurora.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_domain.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_ecs.tf
  terraform/modules/pulp_fiction_aws_account/pulp_fiction_backend_service_security_groups.tf
Due: should_apply_terraform_changes

Path conditions:
  should_build_bazel_ci_image: any of: docker_images/bazel_ci/BUILD
  should_apply_terraform_changes: any of: terraform/.*
  should_build_and_test_backend_service: ((any of: docker_images/pulp_fiction_backend_service/BUILD) or (any of: pulp_fiction_backend_service/BUILD)) or (any of: pulp_fiction_backend_service/src/.*)
